# Image Processing
Pillow==9.5.0

# Video Processing
ffmpeg-python==0.2.0

# Web Framework
fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
jinja2==3.1.3

# Utilities
filetype==1.2.0

# Build Dependencies (Windows)
setuptools==69.1.1
wheel==0.42.0 